

  .bg { 
    /* The image used */
    background-image: url("../images/newspaper4.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.articleRow {
    border-radius: 20px;
    margin-top: 46px;
    background: rgba(560,560,560,0.6);
    padding: 10px;  
    box-shadow: 3px 3px #888888;
}
.headerUp {
margin: 0;
font-size: 34px;
}
hr {
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.headerDown {
    margin: 0;
    font-size: 34px;
}
.articleBody {
    margin: 0;
}
h3.date {
    font-size: 31px;
    margin: 0;
}
.voteRow {
    text-align: center;
}
.thumbsUp {
    margin-right: 15%;
    background: #37b337;
    border-color: #37b337;
}
.thumbsDown {
    background: #c91d1dba;
    border-color: #c91d1dba;
}

.thumbs {
    font-size: 35px;
    margin: 2px 36px 6px;
}
.commentDiv {
    background: lightsteelblue;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px 0 5px 0;
}
h3.commentDate {
    text-align: center;
}
p.commentBody {
    text-align: center;
}
.jumbotron {
    background: rgba(560,560,560,0.0);
}
.showComments {
    width: 197px;
}
.link {
    font-size: 25px;
}
.jumbohr {
    border-top: 2px solid rgba(6,0,0,.1);
}