html { 
    background: url("/public/assets/images/newspaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.articleRow {
    border: 5px solid;
    border-radius: 20px;
    margin-top: 5px;
}
.headerUp {
margin: 0;
font-size: 34px;
}
hr {
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.headerDown {
    margin: 0;
    font-size: 34px;
}
.articleBody {
    margin: 0;
}
h3.date {
    font-size: 31px;
    margin: 0;
}
.voteRow {
    text-align: center;
}
.thumbsUp {
    margin-right: 15%;
}
.thumbs {
    font-size: 35px;
    margin: 2px 36px 2px;
}
.commentDiv {
    background: lightsteelblue;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px 0 5px 0;
}
h3.commentDate {
    text-align: center;
}
p.commentBody {
    text-align: center;
}

